@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
  @apply text-gray-800;
}

.wrapper {
  @apply px-6 w-full mx-auto;

  max-width: 840px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.baller-display {
  position: relative;
}

.baller-display .baller {
  height: 300px;
  margin: 0 auto;
  z-index: 10;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
